<section class="cstm-sliding-section">
<div id="section-id-{{section.id}}" class="hc-index-slider scroll">  
  <div class="hc-slide-track">
      {% for block in section.blocks %}
        <div class="hc-slide">
          <div class="text-wrapper">
            <p class="text">{{ block.settings.text }}</p>
          </div>
        </div>
      {% endfor %}
    </div>  
</div>
<style>
#section-id-{{ section.id }}.scroll {
	background-color: {{section.settings.bg_color}} ;
}

#section-id-{{ section.id }} .hc-slide p {
    color: #ffffff ;
    display: inline;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    line-height: 26px;
    font-size: 17px;
  @media screen and (min-width: 768px) {
    font-size: 30px; /* Increase the font size for desktops */
  }
}
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 6));
    }
  }

  #section-id-{{ section.id }}.hc-index-slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    --width: 500px;
  }

  #section-id-{{ section.id }}.hc-index-slider .hc-slide-track {
    animation: scroll {{ section.settings.scroll_time }}s linear infinite;
    display: flex;
    width: calc(var(--width) * 12);
    padding: 20px 0;
  }

  #section-id-{{ section.id }}.hc-index-slider .hc-slide {
    width: var(--width);
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 1000px) {
    #section-id-{{ section.id }}.hc-index-slider {
      --width: 250px;
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
          transform: translateX(calc(-200px * 6));
        }
      }
    }
</style>
</section>
{% schema %}
  {
    "name": "Sliding Text",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
          "type": "text",
          "label": "Scroll Time",
          "id": "scroll_time",
          "default": "10"
        }
    ],
    "blocks": [
    {
      "name": "Sliding text",
      "type": "block",
      "settings": [
        {
          "type": "text",
          "label": "Add Text",
          "id": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sliding Text"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}